
{% extends'layout.html' %}

{% block body %}

<div class="container">
  <form method="POST" action="{{ url_for('add')}}">
    <div class="form-group">

      
      
      <input type="tile" class="form-control" name="title" placeholder="Title"><br>
      
      
      <input type="description" class="form-control" name="description" placeholder="Description">
    </div>
    <button type="submit" class="btn btn-default" name="submit">add</button>
  </form>
</div>

{%for t in task%}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{t['title']}}</h1>
    <p class="lead">{{t['description']}}</p>
  </div>
</div>
{%endfor%}
{% endblock %}

