<!DOCTYPE html>
<html>
<head>
	<title></title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}">
<body>
<h1 class="controls">Todo App flask NoSQl</h1>
{% block body %}

{% endblock %}
<div class="controls">
<ul>
     <a href="{{url_for('index')}}" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Task List json</a>
        <a href="{{url_for('add')}}" class="btn btn-primary btn-lg" role="button" aria-disabled="true">add</a>
    <a href="{{url_for('delete')}}" class="btn btn-primary btn-lg" role="button" aria-disabled="true">delete</a>
    <a href="{{url_for('search')}}" class="btn btn-primary btn-lg" role="button" aria-disabled="true">search</a>
    <a href="{{url_for('update')}}" class="btn btn-primary btn-lg" role="button" aria-disabled="true">replace</a>
     <a href="{{url_for('display')}}" class="btn btn-primary btn-lg" role="button" aria-disabled="true">task list</a>
</ul>
</div>

</body>
</html>