{% extends 'layout.html' %}

{% block body %}

<form>
    <div class="form-group">
    <label >title</label>
    <textarea class="form-control" name="title" rows="1" placeholder="search"></textarea>
  </div>
     <div class="form-group">
    <label >title</label>
    <textarea class="form-control" name="title1" rows="1" placeholder="new title"></textarea>
  </div>
    <div class="form-group">
    <label >title</label>
    <textarea class="form-control" name="description" rows="3" placeholder="new description"></textarea>
  </div>

    <input class="btn btn-primary" type="submit" value="Replace">
</form>


{% endblock %}